.portalpolicies {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
}

.portalpoliciessidebar {
    width: 22.75%;
}

.portalpoliciessidebar a {
    color: white;
    text-decoration: none;
}

.portalpoliciessidebar a:hover {
    text-decoration: underline;
}

.portalpoliciessidebarhead {
    background-color: #0E6204;
    padding: 0.5rem;
    height: 1.5%;
}

.portalpoliciessidebarbody {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    background-color: #073302;
    gap: 0.5rem;
    padding: 1rem;
    color: white;
    height: 93%;
}


.portalpoliciespage {
 width: 77.25%;   
}

@media (max-width: 1160px) {
    .portalpolicies {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .portalpoliciessidebar {
        width: 77%;
    }
}