.standardisation {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
}

.standardisationsidebar {
    width: 22.75%;
}

.standardisationsidebar a {
    color: white;
    text-decoration: none;
}

.standardisationsidebar a:hover {
    text-decoration: underline;
}

.standardisationsidebarhead {
    background-color: #0E6204;
    padding: 0.5rem;
    height: 3%;
}

.standardisationsidebarbody {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    background-color: #073302;
    padding: 1rem;
    color: white;
    height: 86%;
}


.standardisationpage {
 width: 77.25%;   
}

.filelinks {
    display: flex; 
    justify-content: left; 
    align-items: center; 
    font-family: arial; 
    gap: 12rem 
}

.filelinks div {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    padding: 1rem;
}

@media (max-width: 1160px) {
    .standardisation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .standardisationsidebar {
        width: 77%;
    }
}

@media (max-width: 860px) {
    .filelinks {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        font-family: arial; 
        gap: 2rem 
    }
    
    .filelinks div {
        align-items: center;
    }
}