.yamuna {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
}

.yamunasidebar {
    width: 22.75%;
}

.yamunasidebar a {
    color: white;
    text-decoration: none;
}

.yamunasidebar a:hover {
    text-decoration: underline;
}

.yamunasidebarhead {
    background-color: #0E6204;
    padding: 0.5rem;
    height: 4%;
}

.yamunasidebarbody {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    background-color: #073302;
    padding: 1rem;
    gap: 0.5rem;
    color: white;
    height: 83%;
}


.yamunapage {
 width: 77.25%;   
}

@media (max-width: 1160px) {
    .yamuna {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .yamunasidebar {
        width: 77%;
    }
}