.year2020 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
}

.year2020sidebar {
    width: 22.75%;
}

.year2020sidebar a {
    color: white;
    text-decoration: none;
}

.year2020sidebar a:hover {
    text-decoration: underline;
}

.year2020sidebarhead {
    background-color: #0E6204;
    padding: 0.5rem;
    height: 4%;
}

.year2020sidebarbody {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    background-color: #073302;
    padding: 1rem;
    color: white;
    height: 83%;
    gap: 0.5rem
}


.year2020page {
 width: 77.25%;   
}

@media (max-width: 1160px) {
    .year2020 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .year2020sidebar {
        width: 77%;
    }
}