.immovablepropertyreturns {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
}

.immovablepropertyreturnssidebar {
    width: 22.75%;
}

.immovablepropertyreturnssidebar a {
    color: white;
    text-decoration: none;
}

.immovablepropertyreturnssidebar a:hover {
    text-decoration: underline;
}

.immovablepropertyreturnssidebarhead {
    background-color: #0E6204;
    padding: 0.5rem;
    height: 4%;
}

.immovablepropertyreturnssidebarbody {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    background-color: #073302;
    padding: 1rem;
    color: white;
    height: 87%;
    gap: 0.5rem
}


.immovablepropertyreturnspage {
 width: 77.25%;   
}

@media (max-width: 1160px) {
    .immovablepropertyreturns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .immovablepropertyreturnssidebar {
        width: 77%;
    }
}