.pagesideheader {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #efefef; 
    padding: 1rem;
}

@media (max-width: 780px) {
    .pagesideheader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 90%;
        gap: 0.5rem;
    }
}