.privacypolicy {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
}

.privacypolicysidebar {
    width: 22.75%;
}

.privacypolicysidebar a {
    color: white;
    text-decoration: none;
}

.privacypolicysidebar a:hover {
    text-decoration: underline;
}

.privacypolicysidebarhead {
    background-color: #0E6204;
    padding: 0.5rem;
    height: 2.5%;
}

.privacypolicysidebarbody {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    background-color: #073302;
    gap: 0.5rem;
    padding: 1rem;
    color: white;
    height: 90%;
}


.privacypolicypage {
 width: 77.25%;   
}

@media (max-width: 1160px) {
    .privacypolicy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .privacypolicysidebar {
        width: 77%;
    }
}